/build/
/dist/
/test/
/logs/
/nbproject/
/build.xml
/manifest.mf
/master-application.jnlp
/Model.laits
/preview-application.html
/README.md
sandbox.js
sandbox.json
sandbox.xml
first.xml
nbbuild.xml
nblibraries.properties
.DS_Store
Thumbs.db
db_user_password
db_research_user_password
ssh_user_password
*.jar

/Dragoon/nbproject/private/
/MyApplication/nbproject/private/

.com.apple.timemachine.supported

www/dijit/

www/dojo-install-version

www/dojo/

www/dojox/

www/jsPlumb/

www/math-parser/

www/php-test.php

www/util/

www/node_modules

www/selenium.log*

www/ET-config.json

.idea/

tests/npm/
tests/node/
tests/node_modules/
tests/phantomjsdriver.log
tests/selenium.log
tests/chromedriver
tests/node/
tests/scripts/test-paths.js
tests/ModelLibrary*.log

release/*
!./server-build.sh

*.swp
log/analysis/results
