@import url("../dojo/resources/dojo.css");
@import url("../dijit/themes/dijit.css");
@import url("../dijit/themes/claro/layout/BorderContainer.css");
@import url("../dijit/themes/claro/layout/ContentPane.css");
@import url("../dijit/themes/claro/form/Button.css");
@import url("../dijit/themes/claro/form/Checkbox.css");
@import url("../dijit/themes/claro/form/Select.css");
@import url("../dijit/themes/claro/form/Slider.css");
@import url("../dijit/themes/claro/Menu.css");
@import url("../dijit/themes/claro/Dialog.css");
@import url("../dijit/themes/claro/document.css");
@import url("state-machine1.css");


html, body, #main{
	width:100%;	/* make the body expand to fill the visible window */
	height:100%;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
}

.restrict-vscroll {
	overflow-x:hidden!important;
}
.claro .sameedit .dijitDisabled{
    background-color:#e6e6e6;
    cursor: pointer;
}


#crisisAlertMessage{
  background: #fff; /* override claro Dialog css for crisis alert message */
  max-width: 60ex;
  text-align: center;
}



/*
                        Node Editor and Description Editor
*/

.sameedit, #crisisAlertMessage, .sameedit, div#solution {
    font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
}

.sameedit .fieldgroup {
    display:block;
    margin-top:2ex;
    margin-bottom:2ex;
    margin-left:0ex;
    clear:both;
}

.sameedit .fieldgroup > label {
    text-align:right;
    margin-left:2ex;
    margin-right:1ex;
}

.sameedit .fieldgroup > * {
    display:inline-block;
    vertical-align:top
}

.sameedit .fieldgroup > label:first-child {
    width:10ex;
}

.questionMark{
    width:4%;
}

.sameedit #equationText {
    max-width:40ex;
    border:solid black 1px;
    padding:2px;
    margin:2px;
}

.sameedit .textscroll {
    background:#e5e5e5;
    border:solid black 1px;
    overflow-y:scroll;
    height:50px;
    width:20em
}

.sameedit .textscroll p {
    margin-top:0.5ex;
    margin-bottom:0.5ex;
}

/*  Display contents as horizontal but this block as vertical. */
.sameedit .horizontal {
    display:block;
}

/* Display contents as vertical but this block as horizontal. */
.sameedit .vertical {
    display:inline-block;
    vertical-align:top;
}

/* If we use float to horizontally align, there seems to be
   no way to vertically align the buttons.  */
.sameedit .buttonBox {
    float:right;
}

/* Right align buttons */
.buttonBox > * {
    float:right;
    clear:right;
}

#authorDescDialog .fieldgroup > label:first-child{
width: 12em;
}

#authorDescDialog #authorSetDescription{
    height: 10ex;
    border:solid black 1px;
    padding:2px;
    margin:2px;
}
#authorDescDialog .timeStepAuthor{
    width: 10ex;
}

/*
            plots and tables 
*/

table.solution, table.solution th, table.solution td {
    border:1px solid black;
    border-spacing:0px;
}

table.solution th {
    text-align:center;
    padding-right:10px;
    padding-left:10px;
}

div.legend {
    margin:0 auto;
}

#slidesBox{
	font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
	min-width: 600px;
	min-height: 600px;
	position: absolute;
	background: #fff; /* override claro Dialog css for slide box*/
}

#slidesBox h4{
	font: 14pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
	font-weight: bold;
}

#slideWrapper{
	min-height: 480px;
	margin: 5px 5px 5px 5px;	
}
#buttons{
	/*position: fixed;*/
	float: right;
}

#slideWrapper img{
	width:450px;
	margin-left: 60px;
}

.learning ul{
	/*list-style-type: none;*/
    max-width: 500px;
}

/* Bug fix: Buttons are sticky */

.dijitButtonNode {
    padding: 0 !important;
}

.dijitButtonContents{
    padding: 2px 4px 4px 4px;
}
