@import url("../dojo/resources/dojo.css");
@import url("../dijit/themes/dijit.css");
@import url("../dijit/themes/claro/layout/BorderContainer.css");
@import url("../dijit/themes/claro/layout/ContentPane.css");
@import url("../dijit/themes/claro/layout/AccordionContainer.css");
@import url("../dijit/themes/claro/form/Button.css");
@import url("../dijit/themes/claro/form/Checkbox.css");
@import url("../dijit/themes/claro/form/Select.css");
@import url("../dijit/themes/claro/form/Slider.css");
@import url("../dijit/themes/claro/Menu.css");
@import url("../dijit/themes/claro/Dialog.css");
@import url("../dijit/themes/claro/document.css");
@import url("state-machine1.css");
/*For styling the rich text editor*/
@import url("../dijit/themes/claro/Toolbar.css");
@import url("../dijit/themes/claro/Editor.css");
@import url("../dijit/icons/editorIcons.css");

html, body, #main{
	width:100%;	/* make the body expand to fill the visible window */
	height:100%;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
}
/*commented to make sure that in case the nodes go out the auto scroll is shown.*/
/*
.restrict-vscroll {
	overflow-x:hidden!important;
}*/
.claro .sameedit .dijitDisabled{
    background-color:#e6e6e6;
    cursor: pointer;
}


#crisisAlertMessage{
  background: #fff; /* override claro Dialog css for crisis alert message */
  max-width: 60ex;
  text-align: center;
}



/*
                        Node Editor and Description Editor
*/

.sameedit, #crisisAlertMessage, .sameedit, div#solution {
    font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
}

.sameedit .fieldgroup {
    display:block;
    margin-top:2ex;
    margin-bottom:2ex;
    margin-left:0ex;
    clear:both;
}

.sameedit .fieldgroup > label {
    text-align:right;
    margin-left:2ex;
    margin-right:1ex;
}

.sameedit .fieldgroup > * {
    display:inline-block;
    vertical-align:top

}

.sameedit .fieldgroup > span{
    text-align: right;
    width: 14ex;
}
.sameedit .fieldgroup > span label{
    vertical-align:top

}

.sameedit .fieldgroup > label:first-child {
    width:10ex;
}

.questionMark{
    width:21px;
    margin: -4px;
}

.sameedit #equationText {
    max-width:40ex;
    border:solid black 1px;
    padding:2px;
    margin:2px;
}

.sameedit .textscroll {
    background:#e5e5e5;
    border:solid black 1px;
    overflow-y:scroll;
    height:50px;
    width:20em
}

.sameedit .textscroll p {
    margin-top:0.5ex;
    margin-bottom:0.5ex;
}

/*  Display contents as horizontal but this block as vertical. */
.sameedit .horizontal {
    display:block;
}

/* Display contents as vertical but this block as horizontal. */
.sameedit .vertical {
    display:inline-block;
    vertical-align:top;
}

/* If we use float to horizontally align, there seems to be
   no way to vertically align the buttons.  */
.sameedit .buttonBox {
    float:right;
}

/* Right align buttons */
.buttonBox > * {
    float:right;
    clear:right;
}

#authorDescDialog .fieldgroup > label:first-child{
width: 12em;
}

#authorDescDialog #authorSetDescription{
    width: 98%;
    height: 10ex;
    border:solid black 1px;
    padding:2px;
    margin-right:2px;

}
#authorDescDialog #authorSetLessonsLearned{
    width: 98%;
    height: 10ex;
    border:solid black 1px;
    padding:2px;
    margin:2px;
}
#authorDescDialog .timeStepAuthor{
    width: 15ex;
}

.claro .dijitDisabled .dijitEditorIFrame,
.claro .dijitDisabled .dijitEditorIFrameContainer{
  background-color: #FFFFFF !important; /*override claro Editor and keep the explanation dialog box background-color white when disabled*/
  color: black !important; 
}
.claro .dijitEditorIFrame{/*adding resizing ability to the explanation dialog box*/
   resize:both;
}

/*
            plots and tables 
*/

table.solution, table.solution th, table.solution td {
    border:1px solid black;
    border-spacing:0px;
}

table.solution th {
    text-align:center;
    padding-right:10px;
    padding-left:10px;
}

div.legend {
    margin:0 auto;
}
/*
	Author Schema 
*/
#schemaAuthorBox{
	font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
	min-height: 600px;
	min-width: 400px;
	position: absolute;
	width: 650px !important;
	background: #fff; /* override claro Dialog css for slide box*/
}
.schema .fieldgroup{
	width: 100%; 
}

.schema .fieldgroup label{
	text-align: right;
	width: 40% !important;
}

#accordion{
height:385px;
}

.schema #accordion{
	width:300px;
}

.nodesDropdown{
	margin-bottom: 5px;
}

.error{
	font:11pt Arial,Myriad,Tahoma,Verdana,sans-serif;
//	font-weight: bold;
	color: red;
}

input[type=radio]{
	opacity:1 !important;
}

#slidesBox{
	font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
	min-width: 600px;
	min-height: 600px;
	position: absolute;
	background: #fff; /* override claro Dialog css for slide box*/
}

#slidesBox h4{
	font: 14pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
	font-weight: bold;
}

#slideWrapper{
	min-height: 480px;
	margin: 5px 5px 5px 5px;	
}
#buttons{
	/*position: fixed;*/
	float: right;
}

#slideWrapper img{
	width:450px;
	margin-left: 60px;
}

.schema #buttons{
	margin-bottom: 10px;
}

.learning ul{
	/*list-style-type: none;*/
    max-width: 500px;
}

/* Bug fix: Buttons are sticky */

.dijitButtonNode {
    padding: 0 !important;
}

.dijitButtonContents{
    padding: 2px 4px 4px 4px;
}

.messageBox{
  position: relative;
  padding: 15px;
  border-radius: 7px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-bottom:8px;
}
.error-message-close{
  float: right;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.error-message{
  width: 90%;
  margin: 0;
  display: inline-block;
}

.messageBox-error{
   background-color: rgba(255,0,0,0.1);
   border: 2px solid red;
}

.messageBox-info{
   background-color: rgba(52,152,219,0.2);
   border: 2px solid #3498DB;
}

.messageBox-success{
   background-color: rgba(39,174,96,0.2);
   border: 2px solid #27AE60;
}

.messageBox-warn{
   background-color: rgba(243,156,18,0.2);
   border: 2px solid #F39C12;
}

.factorNode{
	padding-bottom: 10px;
}

.factorNode div{
	padding-bottom: 5px;
	padding-left: 5px;
}

.factorNode label{
	font-weight: bold;
}

.factorNode input[type="text"]{
	//width: 25px;
	//border: 0px;
	
}
.factorNode .type label{
	padding-right: 10px;
}

.factorNode .unit label{
	padding-right: 10px;
}

.factorNode .equation label{
	padding-right: 10px;
}

.factorNode .description label{
	padding-right: 2px;
}

.factorNode .initial label{
	padding-right: 10px;
}

.factorNode .slip{
	padding-right: 5px;
}

#factors .heading .guess{
	padding-left: 173px;
	padding-right: 100px;
}

#factors .heading{
	//float: right;
	width: 100%;
}

.factorNode .dijitTextBox{
	border: 0px;
}

.fname_type{
	padding-right: 38px;
}

.fname_units{
	padding-right: 34px;
}

.fname_initial{
	padding-right: 32px;
}

.fname_equation{
	padding-right: 11px;
}
span.slip{
	padding-left: 160px;
}

.clear {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}
.inc-button{
    text-align:center;
}

.dijitReset{
    font: normal normal normal 14px/1 FontAwesome  !important;
}

.bubble .fa{
    font-size:18px;
}

.crisisDialog{
    z-index:2000 !important;
}

.incrementalContent{
    margin-top: 20px;
}