#demo {
	margin-top:5em;
}

.parameter { 	
	width: 80px; 
    height: 80px; 
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}

.parameter:hover {
	background-color: #5c96bc;
	color:white;

}

.accumulator-inner{

	  z-index:20; position:absolute;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
      position:absolute;
	  font-family:helvetica;
	  font-size:1.2em;
    }

.accumulator {
   width: 80px; 
   height: 80px; 
   margin: 23px 0 0 30px;
   z-index:20; position:absolute;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 50% 100%;
   -moz-transform-origin: 50% 100%;
   -ms-transform-origin: 50% 100%;
   -o-transform-origin: 50% 100%;
   transform-origin: 50% 100%;
   
  border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}


 .function {
    width: 80px;
    height: 80px;
   z-index:20; position:absolute;
   border-radius: 50px;
border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
   opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}


.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.statemachine-demo ._jsPlumb_endpoint {
	z-index:3;
}

#id1 {
	left:10em;
	top:5em;
}

#id2 {
	left:35em;
	top:12em;
	width:7em;
}

#id3 {
	left:12em;
	top:23em;
}

.dragHover { border:2px solid orange; }

path { cursor:pointer; }